---
const pageTitle = "snap";
import NavItems from "../components/Navbar.astro";
import snap from "../images/logo.svg";
import {Image} from 'astro:assets';
import MainLayout from "../layouts/mainLayout.astro";

---

<MainLayout>
	Make remote work

	Get your team in sync, no matter your location. Streamline processes, 
	create team rituals, and watch productivity soar.
  
	Learn more
	
	<div class="attribution">
	  Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
	  Coded by <a href="#">Your Name Here</a>.
	</div>
</MainLayout>
