---
import imagedesktop from "../images/image-hero-desktop.png"
import imagemobile from "../images/image-hero-mobile.png"
---


<div class="grid lg:grid-cols-7 grid-rows-5 grid-cols-1 gap-0 w-full row pt-5 " id="container">

    <div class="  col-start-1 lg:col-end-5 lg:row-start-1 lg:row-end-4 pl-11 pt-28 box-border" id="text">
    <h1 class="epilogue-font-700 text-7xl mb-11">Make<br> remote work</h1>

    <div>
        Get your team in sync, no matter your location. Streamline processes, 
        create team rituals, and watch productivity soar.
    </div>
  
	<button>
        Learn moredd
    </button>
    </div>
    <div id="logos" class="  col-start-1 lg:col-end-5 row-start-4 row-end-5"></div>
    <div id="image" class="  col-start-1 lg:col-start-5 lg:col-end-8 row-start-1 lg:row-end-5 items-center justify-center flex">
        <img src={imagedesktop.src} class="h-[90vh] hidden lg:inline-block" alt="">
        <img src={imagemobile.src} class="h-[30vh] block lg:hidden" alt="">
    </div>
    
</div>