<li><button class="hover:text-almostblack grow text-mediumgray mt-4 box-border w-full">Login</button></li>
<li><button class="w-full box-border grow  hover:text-almostblack text-mediumgray mt-4 px-5 py-2 rounded-xl border-2 hover:border-almostblack border-mediumgray">Register</button></li>