<button class="hover:text-almostblack text-mediumgray">Login</button>
<button class="px-5 py-2 rounded-xl hover:text-almostblack text-mediumgray border-2 hover:border-almostblack border-mediumgray">Register</button>