<li><button class="hover:text-[#141414] text-[#696969] mt-4">Login</button></li>
<li><button class="px-5 py-2 w-full box-border absolute rounded-xl border-2 hover:border-[#141414] border-[#696969]">Register</button></li>